*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "promptRegular";
    src: url("./Assets/Prompt-Regular.ttf");
}
body{
    background-color: #f0efed;
}
main{
    padding: 30px 50px;
}
img{
    width: 100%;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(31, 145px);
}
header{
    grid-area: 1/1/6/-1;
    background-image: url(./images/monogram1.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken; 
}

.headertext{
    text-align: center;
    color: #efc2b3;
    font-family: "promptRegular";
    /* opacity: 0.5;
    padding: 10%;
    color: #eec1b0;
    position: absolute;
    left: 12%;
    top: 140px;
    font-size: 20px;
    font-weight: bold; */
}
.headertext h1{
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 4px;
    font-weight: 600;
}
.headertext p{
    margin-top: 24px;
    font-size: 19px;
    letter-spacing: 0.2px;
}
.arrowdown{
    text-align: center;
    margin-top: 205px;
}
.arrowdown a{
    color: white;
    text-decoration: none;
    font-size: 50px;
}
nav{
    background-color: #1a2456;
    display: flex;
    justify-content: space-between;
    margin:  1.3% 1% 1.5% 1.3%;
    letter-spacing: 1.7px;
    font-size: 12px;
    padding: 6px 7px 4px 6px;
    font-family: "promptRegular";
    position: fixed;
    z-index: 99;
    width: 97%;
}
.divider{
    height: 265px;
}
.dark{
    z-index: 99;
}
.logo{
    display: flex;
    color: #efc2b3;
    width: 15%;
}
.logo :hover{
    color: #f9b8a3;
}
.shop{
    font-weight: 600;
}
.bag{
    font-size: 20px;
    position: relative;
    bottom: 8px;
}
.links{
    width: 59%;
}
.links .downIcon{
    font-size: 9px;
    position: relative;
    bottom: 2px;
}
.usdlink{
    position: relative;
    right: 2%;
}
.monogram{
    margin: 12px 12px;
    font-size: 13px;
    font-weight: 600;
}
.navLinks{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 12px;
}
.navLinks li{
    list-style: none;
}
.navLinks a{
    color: #eec1b0;
    text-decoration: none;
}
.logoIcon{
    width: 28%;
    display: block;
}
/* .logoIcon :hover{
    filter: invert(75%) sepia(48%) saturate(386%) hue-rotate(319deg) brightness(100%) contrast(96%);
} */
main{
    grid-area: 6/1/30/-1;
    font-family: "promptRegular";
}
.container1{
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
    grid-template-rows: repeat(15, 50px);
    gap: 20px 16px;
    padding: 20px;
}
main h4{
    color: #1a2456 ;
    letter-spacing: 2px;
    font-weight:700;
}
.order{
    background-color:#ff8d6b;
    float: right;
    margin-top: 18px;
    height: 23px;
    width: 18%;
    text-align: center;
    padding-top: 7px;
    font-size: small;
    letter-spacing: 0.8px;
    color: #161616;
}
.container2 .order{
    background-color:#ff8d6b;
    float: right;
    margin-top: 18px;
    height: 23px;
    width: 27%;
    text-align: center;
    padding-top: 7px;
    font-size: small;
    letter-spacing: 0.8px;
    color: #161616;
}
.container1 p{
    font-size: small;
    color: #1a2456 ;
    padding-top: 12px;
}
.container1 p:hover{
    color: #000;
}
.shopbutton{
   padding: 5% 1%;
   color: white;
   border-radius: 30px;
   display: none;
   width: 100%;
   font-size: 11px;
   border: transparent;
}

.textDiv{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 5px 0px 18px 0px;
}
.miniTextdiv{
    display: flex;
    justify-content: space-between;
    background-color:transparent;
    width: 100%;
}
.dp1text,
.dp2text,
.dp3text,
.dp4text{
    position: relative;
    top: 400px;
    width: 100%;
}
.sdp1text,
.sdp2text,
.sdp3text,
.sdp4text,
.sdp5text,
.sdp6text,
.sdp7text,
.sdp8text,
.sdp9text,
.sdp10text{
    position: relative;
    top: 300px;
}
.container1 .price-section{
    position: relative;
    left:22.4%;
    border: 2px solid green;
    width: 25%;
}
.container1 .price-tag{
    font-size: small;
    color: #1a2456 ;
    padding-top: 12px;
    position: relative;
    left: 44%;
}
/* .shopbutton{
    visibility: hidden;
} */
.dp1{
    background-image: url(./images/monogram2a.jpg);
    grid-area: 1/1/7/4;
    transition-duration: 2s;
    background-size:cover;
    background-position: center;
}
.dp1:hover{
    background-image: url(./images/monogram2b.jpg);
}
.dp1text{
    grid-area: 7/1/8/4;
}
.dp2{
    background-image: url(./images/monogram3a.jpg);
    grid-area: 1/4/7/-1;
    transition-duration: 2s;
    background-size:cover;
    background-position: center;
}
.dp2:hover{
    background-image: url(./images/monogram3b.jpg);
}
.dp2text{
    grid-area: 7/4/8/-1;
}



.dp3{
    background-image: url(./images/monogram4a.jpg);
    grid-area: 8/1/14/4;
    transition-duration: 2s;
    background-size:cover;
    background-position: center;
}
.dp3:hover{
    background-image: url(./images/monogram4b.jpg);
}
.dp3text{
    grid-area: 14/1/15/4;
}


.dp4{
    background-image: url(./images/monogram5a.jpg);
    grid-area: 8/4/14/-1;
    transition-duration: 2s;
    background-size:cover;
    background-position: center;
}
.dp4:hover{
    background-image: url(./images/monogram5b.jpg);
}
.dp4text{
    grid-area: 14/4/15/-1;
}


.picture{
    background-size: cover;
}


.container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(16, 91px);
    gap: 10px 40px;

}


.sdp1{
    grid-area: 1/1/4/2;
    background-image: url(./images/case1.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    display: block;
}
.sdp1:hover{
    background-image: url(./images/case2.jpg);
}



.sdp2{
    grid-area: 1/2/4/3;
    background-image: url(./images/monogram6a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp2:hover{
    background-image: url(./images/monogram6b.jpg);
}


.sdp3{
    grid-area: 1/3/4/-1;
    background-image: url(./images/monogram7a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp3:hover{
    background-image: url(./images/monogram7b.jpg);
}



.sdp4{
    grid-area: 5/1/8/2;
    background-image: url(./images/monogram8a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp4:hover{
    background-image: url(./images/monogram8b.jpg);
}



.sdp5{
    grid-area: 5/2/8/3;
    background-image: url(./images/monogram9a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp5:hover{
    background-image: url(./images/monogram9b.jpg);
}



.sdp6{
    grid-area: 5/3/8/-1;
    background-image: url(./images/monogram10a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp6:hover{
    background-image: url(./images/monogram10b.jpg);
}



.sdp7{
    grid-area: 9/1/12/2;
    background-image: url(./images/monogram11.jpg);
    background-size:cover;
    background-position: center;
}

.sdp8{
    grid-area: 9/2/12/3;
    background-image: url(./images/monogram12.jpg);
    background-size:cover;
    background-position: center;
}

.sdp9{
    grid-area: 9/3/12/-1;
    background-image: url(./images/monogram13.jpg);
    background-size:cover;
    background-position: center;
}

.sdp10{
    grid-area: 13/1/16/2;
    background-image: url(./images/monogram14a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp10:hover{
    background-image: url(./images/monogram14b.jpg);
}
.spd10text{
    grid-area: 16/1/-1/2;
}
/*footer*/
footer{
    background-color: #1a2456;
    color: #eec1b0;
    display: flex;
    grid-area: 29/1/-1/14;
    justify-content: space-around;
    padding-top: 5%;
}
footer li{
    list-style: none;
    margin-top: 13%;
}
footer a{
    color: #eec1b0;
    text-decoration: none;
}
footer h4{
    margin-bottom: 7%;
}
.icon{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 3% 0% 3% 0%;
}

/*banner*/
.banner{
    margin-bottom: 5%;
}

/*mobile device*/

@media only screen and (max-width:767px){


.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(42, 145px);
    padding: 6%;
}
header{
    grid-area: 1/1/4/-1;
    background-image: url(./images/monogram1.jpg);
    background-size: cover;
}
.headertext{
    height: 24%;
    margin: 0px 0px 0px 0px;
    background-color: #000;
    position: relative;
    left: 0%;
    top:160px;
    width:100%;
    padding: 6% 0% 0% 0%;
    text-align: center;
    font-size: small;
    opacity: 0.6;
    z-index: 99;
    color: #fdffff;
}

/*.headertext{

    opacity: 0.6;
    font-weight: bold;
    width: 80%;
   
    padding-bottom: 47%;
    
}*/


nav{
    background-color: blue;
}
main{
    grid-area: 4/1/32/-1;
}


.container1{
    display: grid;
    grid-template-columns: repeat( 1, 1fr);
    grid-template-rows: repeat(20, 50px);
    gap: 20px  50px;
    padding: 20px;
}

.order{
    background-color: orangered;
    color: #fff;
    float: right;
}
.price-section .price-tag{
    /* float: right; */
    position: relative;
    bottom: 21px;
    left: 13%;
    font-size: large;
     display: none;
}
.container1 .price-tag{
    /* float: right; */
    position: relative;
    bottom: 21px;
    left: 103%;
    font-size: large;

}
.dp1{
    background-image: url(./images/monogram2a.jpg);
    grid-area: 1/1/6/4;
    transition-duration: 2s;
    background-size:cover;
    background-position: center;
}
.dp1:hover{
    background-image: url(./images/monogram2b.jpg);
}
.dp1text{
    grid-area: 6/1/7/4;
}


.dp2{
    background-image: url(./images/monogram3a.jpg);
    grid-area: 7/1/11/4;
    transition-duration: 2s;
    background-size:cover;
    background-position: center;
}
.dp2:hover{
    background-image: url(./images/monogram3b.jpg);
}
.dp2text{
    grid-area: 11/1/12/4;
}



.dp3{
    background-image: url(./images/monogram4a.jpg);
    grid-area: 12/1/15/4;
    transition-duration: 2s;
    background-size:cover;
    background-position: center;
}
.dp3:hover{
    background-image: url(./images/monogram4b.jpg);
}
.dp3text{
    grid-area: 15/1/16/4;
}


.dp4{
    background-image: url(./images/monogram5a.jpg);
    grid-area: 16/1/20/4;
    transition-duration: 2s;
    background-size:cover;
    background-position: center;
}
.dp4:hover{
    background-image: url(./images/monogram5b.jpg);
}
.dp4text{
    grid-area: 20/1/21/4;
}


.picture{
    background-size: cover;
}


.container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(30, 91px);
    padding: 5% 5% 5% 5%;
}


.sdp1{
    grid-area: 1/1/3/-1;
    background-image: url(./images/case1.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp1:hover{
    background-image: url(./images/case2.jpg);
}
.sdp1text{
    grid-area: 3/1/4/-1;
}


.sdp2{
    grid-area: 4/1/6/-1;
    background-image: url(./images/monogram6a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp2:hover{
    background-image: url(./images/monogram6b.jpg);
}
.sdp2text{
    grid-area: 6/1/7/-1;
}


.sdp3{
    grid-area: 7/1/9/-1;
    background-image: url(./images/monogram7a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp3:hover{
    background-image: url(./images/monogram7b.jpg);
}
.sdp3text{
    grid-area:9/1/10/-1;
}


.sdp4{
    grid-area: 10/1/12/-1;
    background-image: url(./images/monogram8a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp4:hover{
    background-image: url(./images/monogram8b.jpg);
}
.sdp4text{
    grid-area: 12/1/13/-1;
}


.sdp5{
    grid-area: 13/1/15/-1;
    background-image: url(./images/monogram9a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp5:hover{
    background-image: url(./images/monogram9b.jpg);
}
.sdp5text{
    grid-area: 15/1/16/-1;
}



.sdp6{
    grid-area: 16/1/18/-1;
    background-image: url(./images/monogram10a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp6:hover{
    background-image: url(./images/monogram10b.jpg);
}
.sdp6text{
    grid-area: 18/1/19/-1;
}



.sdp7{
    grid-area: 19/1/21/-1;
    background-image: url(./images/monogram11.jpg);
    background-size:cover;
    background-position: center;
}
.sdp7text{
    grid-area: 21/1/22/-1;
}

.sdp8{
    grid-area: 22/1/24/-1;
    background-image: url(./images/monogram12.jpg);
    background-size:cover;
    background-position: center;
}
.sdp8text{
    grid-area: 24/1/25/-1;
}


.sdp9{
    grid-area: 25/1/27/-1;
    background-image: url(./images/monogram13.jpg);
    background-size:cover;
    background-position: center;
}
.sdp9text{
    grid-area: 27/1/28/-1;
}

.sdp10{
    grid-area: 28/1/30/-1;
    background-image: url(./images/monogram14a.jpg);
    background-size:cover;
    background-position: center;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.sdp10:hover{
    background-image: url(./images/monogram14b.jpg);
}
.spd10text{
    grid-area: 30/1/31/-1;
}
/*footer*/
footer{
    background-color: #1a2456;
    color: #eec1b0;
    display: block;
    grid-area: 36/1/-1/-1;
    justify-content: space-around;
    padding: 10% 3% 0% 3%;
    text-align: center;
}
footer li{
    list-style: none;
    margin-top: 4%;
}
footer a{
    color: #eec1b0;
    text-decoration: none;
}
footer h4{
    margin-bottom: 9%;
    margin-top: 5%;
}
.icon{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 3% 0% 3% 0%;
    position: relative;
    left: 30%;
}
.placeholder{
    padding: 3% 0% 2% 2%;
    margin: 9% 0% 9% 0%;
    font-size: medium;
    font-weight: bold;
    width: 40%;
}
.Submit{
    padding: 3%;
    margin: 9% 0% 9% 0%;
    font-size: medium;
    font-weight: bold;
    border-radius: 13px;
    border: transparent;
}

/*banner*/
.banner{
    margin-bottom: 5%;
}

}
